$text-color: #2F3B49;
$bg-color: #F9F9F9;
$bg-color-hover: #F4F4F4;
$stroke: rgba(196, 196, 196, 0.5);
$stroke-blue: #0659F3;


$blue: #0E66F0;
$orange: #F9C61D;
$green: #1BB81D;
$red: #F04F25;
$white: #fff;

$picker-1: #FAC710;
$picker-2: #FEF445;
$picker-3: #fff;
$picker-4: #8FD14F;
$picker-5: #CEE741;
$picker-6: #E6E6E6;
$picker-7: #0CA789;
$picker-8: #12CDD4;
$picker-9: #12CDD4;

$price-card-blue: #00B7EA;
$price-card-green: #0DCC00;
$price-card-orange: #FFBB00;

$transition2: .2s ease;