<div class="corrections">
    <div class="page-title text-right">
        <h2 class="title color-dark">םילעייתמו תודוקנ םיפיסומ</h2>
    </div>
    <form action="#" class="form form-file">
        <div class="row">
            <div class="col-5">
                <div class="file-upload file-upload-big">
                    <div class="image-upload-wrap show">
                        <input class="file-upload-input" type='file'  accept="image/*" />
                        <div class="drag-text">
                            <img src="../img/partners/EnergyPlus.svg" alt="">
                            <p class="drag-text__info">Drag and drop a file <span>or</span></p>
                            <button class="btn btn-blue btn-small" type="button">Browse</button>
                            <span class="drag-text__size">Max 700 kb</span>
                        </div>
                    </div>
                    <div class="file-upload-content hide">
                        <img class="file-upload-image" src="../img/cards/card-1.jpg" alt="your image" />
                        <div class="file-upload-btn">
                            <button type="button" class="btn btn-icon btn-icon-remove btn-icon-remove-white"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-blue btn-big">עצב</button>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <label for="textarea1" hidden></label>
                <textarea name="textarea" id="textarea1" class="input-fill corrections-textarea"></textarea>
                <div class="col-12 text-center">
                    <button class="btn btn-blue btn-big btn-disabled" disabled="">עצב</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="corrections">
    <div class="page-title text-right">
        <h2 class="title color-dark">םילעייתמו תודוקנ םיפיסומ</h2>
    </div>
    <form action="#" class="form form-file">
        <div class="row">
            <div class="col-5">
                <div class="file-upload file-upload-big">
                    <div class="image-upload-wrap show">
                        <div class="loader">
                            <div class="loader-inner box-1"></div>
                            <div class="loader-inner box-2"></div>
                            <div class="loader-inner box-3"></div>
                            <div class="loader-inner box-4"></div>
                            <div class="loader-inner box-5"></div>
                            <div class="loader-time">15%</div>
                        </div>
                    </div>
                    <div class="file-upload-content hide">
                        <img class="file-upload-image" src="../img/cards/card-1.jpg" alt="your image" />
                        <div class="file-upload-btn">
                            <button type="button" class="btn btn-icon btn-icon-remove btn-icon-remove-white"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-blue btn-big">עצב</button>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <label for="textarea2" hidden></label>
                <textarea name="textarea" id="textarea2" class="input-fill corrections-textarea">הללצה יטנמלא וא יעבט רורווא ןיא .תונולחה לכב 0.3 לש הללצה םדקמ םע תונירטיוב 6-21-6-ו הניש ירדחב 4-6-4 גוגיז תכרעמו מ''ס 5 םיעלס רמצ םע הפולח</textarea>
                <div class="col-12 text-center">
                    <button class="btn btn-blue btn-big btn-disabled" disabled="">עצב</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="corrections">
    <div class="page-title text-right">
        <h2 class="title color-dark">םילעייתמו תודוקנ םיפיסומ</h2>
    </div>
    <form action="#" class="form form-file">
        <div class="row">
            <div class="col-5">
                <div class="file-upload file-upload-big">
                    <div class="image-upload-wrap show">
                        <div class="image-upload-details">
                            <span>EnergyPlus_File.idf</span>
                            <img class="file-upload-icon" src="../img/icons/file-icon.svg" alt="your image" />
                        </div>
                        <div class="file-upload-btn">
                            <button type="button" class="btn btn-icon btn-icon-remove btn-icon-remove-black"></button>
                        </div>
                    </div>
                    <div class="file-upload-content hide">
                        <img class="file-upload-image" src="../img/cards/card-1.jpg" alt="your image" />
                        <div class="file-upload-btn">
                            <button type="button" class="btn btn-icon btn-icon-remove btn-icon-remove-black"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-blue btn-big">עצב</button>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <label for="textarea3" hidden></label>
                <textarea name="textarea" id="textarea3" class="input-fill corrections-textarea">הללצה יטנמלא וא יעבט רורווא ןיא .תונולחה לכב 0.3 לש הללצה םדקמ םע תונירטיוב 6-21-6-ו הניש ירדחב 4-6-4 גוגיז תכרעמו מ''ס 5 םיעלס רמצ םע הפולח</textarea>
                <div class="col-12 text-center">
                    <button class="btn btn-blue btn-big btn-disabled" disabled="">עצב</button>
                </div>
            </div>
        </div>
    </form>
</div>