<div class="join-block">
    <div class="row space-between">
        <div class="col-5">
            <div class="page-title text-center">
                <h2 class="title color-blur">המסיס סופיא</h2>
                <p class="subtitle fz-18">המסיס סופיא המסיס סופיא</p>
            </div>
            <form action="#" class="form">
                <div class="form-group">
                    <input type="email" class="form-control input-line input-line--small" id="email4">
                    <label for="email4">ליימ</label>
                    <small id="email3Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
                </div>
                <div class="form-group input-group">
                    <input type="password" name="password3" id="password4" class="form-control input-line input-line--small password" data-toggle="password">
                    <label for="password4">דיינ</label>
                    <div class="input-group-append input-group-small show-password">
                        <span class="input-group-text eye-icon"></span>
                    </div>
                    <small id="password4Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
                </div>
                <div class="form-group form-group-checkbox">
                    <label class="form-checkbox">
                        <input type="checkbox" name="check">
                        <i class="form-checkbox__check"></i>
                        <span class="link-agreement"> יאנתל המכסהו ה<a href="#">יאנתל המכסהו האירק רשאמ ינא</a></span>
                    </label>
                </div>
                <div class="form-group form-group-checkbox">
                    <label class="form-checkbox">
                        <input type="checkbox" name="check">
                        <i class="form-checkbox__check"></i>
                        <span class="link-agreement"> יאנתל המכסהו היאנתל המכסהו האירק רשאמ ינא</span>
                    </label>
                </div>
                <div class="auth-form__btn">
                    <button type="submit" class="btn btn-blue btn-big">החילש</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <img class="block-img" src="../img/join-bg.png" alt="join bg" />
        </div>
    </div>
</div>