<div class="price-block">
    <div class="price-block__col">
        <div class="price-card price-card--blue">
            <div class="price-card__head">
                <div class="price-card__title">Large</div>
                <div class="price-card__price">1000<span class="price-card__currency">'קנ</span></div>
                <div class="price-card__info">
                    <button class="btn btn-empty-white">ריחמ תעצה תלבקל</button>
                </div>
            </div>
            <ul class="price-card__list">
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
            </ul>
            <div class="price-card__btn">
                <button class="btn btn-big btn-price-card">ריחמ תעצה תלבקל</button>
            </div>
        </div>
    </div>
    <div class="price-block__col">
        <div class="price-card price-card--orange">
            <div class="price-card__head">
                <div class="price-card__title">Large</div>
                <div class="price-card__price">1000<span class="price-card__currency">'קנ</span></div>
                <div class="price-card__info">
                    <span>םולשתל ₪ 2100</span>
                    <span>ר''מ/₪ 0.21 יפל</span>
                </div>
            </div>
            <ul class="price-card__list">
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
            </ul>
            <div class="price-card__btn">
                <label for="price-card-1" class="price-card__label">:תומכ</label>
                <input type="number" id="price-card-1" class="price-card__input">
                <button class="btn btn-with-input btn-price-card">השיכרל</button>
            </div>
        </div>
    </div>
    <div class="price-block__col">
        <div class="price-card price-card--green">
            <div class="price-card__head">
                <div class="price-card__title">Large</div>
                <div class="price-card__price">1000<span class="price-card__currency">'קנ</span></div>
                <div class="price-card__info">
                    <span>םולשתל ₪ 2100</span>
                    <span>ר''מ/₪ 0.21 יפל</span>
                </div>
            </div>
            <ul class="price-card__list">
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
                <li class="price-card__list-item">הנשל ר''מ 100,000 ללוכ</li>
            </ul>
            <div class="price-card__btn">
                <label for="price-card-1" class="price-card__label">:תומכ</label>
                <input type="number" id="price-card-1" class="price-card__input">
                <button class="btn btn-with-input btn-price-card">השיכרל</button>
            </div>
        </div>
    </div>
</div>