.cart-block{
  padding: 70px 0;
  font-size: 18px;
  .col-sm-3{
    opacity: 0.6;
  }
  .form-group{
    padding: 0;
    &.row{
      align-items: center;
    }
    label {
      position: static;
    }
  }
}
.input--cart{
  position: relative;
  top: 4px;
}