.user-panel{
  max-width: 1004px;
  margin: 23px auto 0;
  padding: 50px 104px 60px;
  &-nav{
    margin-bottom: 50px;
  }
  &-form{
    font-size: 18px;
    position: relative;
    width: 100%;
    label{
      opacity: .5;
      transition: $transition2;
    }
  }
}
.nav-tabs {
  border-bottom: 1px solid rgba(199,199,199, .5);
}
.nav-tabs .user-panel-tab{
  font-weight: 600;
  font-size: 18px;
  padding: 5px 0 10px 0;
  margin-left: 50px;
  outline: none;
  border: 1px solid transparent;
  transition: $transition2;
}
.nav-tabs .user-panel-tab:focus, .nav-tabs .user-panel-tab:hover{
  border: 1px solid transparent;
  border-bottom-color: $blue;
  transition: $transition2;
}
.nav-tabs .user-panel-tab.active{
  border: 1px solid transparent;
  border-bottom-color: $blue;
  color: $blue;
}

.input-line{
  height: 50px;
  line-height: 50px;
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
  border-bottom-color: #808080;
  transition: $transition2;
  padding-right: 0;
  padding-left: 20px;
  &--small{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-width: 1px;
  }
  &:focus{
    outline: none;
    border-color: transparent;
    background-color: transparent;
    border-bottom-color: $blue;
    transition: $transition2;
    box-shadow: none;
    & + label{
      color: $blue;
      opacity: 1;
      transition: $transition2;
      & + .input-group-append{
        border-bottom-color: $blue;
        transition: $transition2;
      }
    }
  }
}

.select-line{
  font-size: 18px;
  width: 100%;
  height: 34px;
  padding: 0 10px;
  text-align: right;
  color: $text-color;
  line-height: 34px;
  background-color: transparent;
  border-radius: 0;
  border-bottom-color: #808080;
  transition: $transition2;
  position: relative;
  &:after {
    position: absolute;
    left: 5px;
    top: 15px;
  }
  &:hover{
    color: $text-color;
  }
  &:focus {
    color: $text-color;
    outline: none;
    border-color: transparent;
    background-color: transparent;
    border-bottom-color: $blue;
    transition: $transition2;
    box-shadow: none;
  }
}
.dropdown-line{
  font-size: 18px;
  width: 100%;
  height: 34px;
  padding: 0 10px;
  text-align: right;
  color: $text-color;
  line-height: 34px;
  background-color: transparent;
  border-radius: 0;
  border-bottom-color: #808080;
  transition: $transition2;
  position: relative;
  &:after {
    position: absolute;
    left: 5px;
    top: 15px;
  }
  &:hover{
    color: $text-color;
  }
  &:focus {
    color: $text-color;
    outline: none;
    border-color: transparent;
    background-color: transparent;
    border-bottom-color: $blue;
    transition: $transition2;
    box-shadow: none;
  }
  &--big{
    width: 270px;
  }
}
.text-muted {
  font-size: 18px;
  color: $text-color!important;
  text-align: left;
  opacity: 0.5;
  padding-left: 10px;
}

.form-group {
  position: relative;
  padding-top: 27px;
  label {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.input-group{
  padding-bottom: 31px;
  padding-left: 22px;
  .text-muted{
    position: absolute;
    padding-top: .25rem;
    bottom: 0;
    left: 0;
  }
  .input-group-append{
    position: absolute;
    left: 1px;
    height: 50px;
    border-bottom: 1px solid #808080;
    transition: $transition2;
    z-index: 2;
  }
  .input-group-text{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &.eye-icon{
      background: url("../img/eye-icon.svg") transparent no-repeat center;
      background-size: 25px;
    }
  }
}