<div class="user-panel bg-white">
    <div class="user-panel-nav">
        <div class="nav nav-tabs user-panel-tabs" id="user-panel-tab" role="tablist">
            <a class="nav-item nav-link user-panel-tab active" id="user-panel-tab-1" href="#user-panel-pane-1" data-toggle="tab" aria-controls="user-panel-pane-1" role="tab" aria-selected="true">םיישיא םיטרפ</a>
            <a class="nav-item nav-link user-panel-tab" id="user-panel-tab-2" href="#user-panel-pane-2" data-toggle="tab" aria-controls="user-panel-pane-2" role="tab">תורשקתה יטרפ</a>
            <a class="nav-item nav-link user-panel-tab" id="user-panel-tab-3" href="#user-panel-pane-3" data-toggle="tab" aria-controls="user-panel-pane-3" role="tab">המסיס ןוכדע</a>
        </div>
    </div>
    <div class="user-panel-form">
        <div class="user-panel-form">
            <div class="tab-content" id="user-panel-tabContent">
                <form action="#" class="tab-pane show active" id="user-panel-pane-1" role="tabpanel" aria-labelledby="user-panel-tab-1">
                    <div class="form-group">
                        <input type="text" class="form-control input-line" id="text1">
                        <label for="text1">אלמ םש</label>
                        <small id="text1Help" class="form-text text-muted">קסעה םש דיל תוחודב עיפוי ךמש</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-line" id="text2">
                        <label for="text2">דיקפת</label>
                        <small id="text3Help" class="form-text text-muted">קסעה םש דיל תוחודב עיפוי ךדיקפת</small>
                    </div>
                    <button type="submit" class="btn btn-blue btn-big">םיישיא םיטרפ ןוכדע</button>
                </form>
                <form action="#" class="tab-pane" id="user-panel-pane-2" role="tabpanel" aria-labelledby="user-panel-tab-2">
                    <div class="form-group">
                        <input type="email" class="form-control input-line" id="email1">
                        <label for="email1">ליימ</label>
                        <small id="email1Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
                    </div>
                    <div class="form-group">
                        <input type="tel" id="phone1" name="phone" class="form-control input-line">
                        <label for="phone1">ןופלט</label>
                        <small id="phone1Help" class="form-text text-muted">דבלב הכימת ךרוצל ןופלט</small>
                    </div>
                    <div class="form-group">
                        <input type="tel" id="phone2" name="phone" class="form-control input-line">
                        <label for="phone2">דיינ</label>
                        <small id="phone2Help" class="form-text text-muted">דבלב הכימת ךרוצל דיינ</small>
                    </div>
                    <button type="submit" class="btn btn-blue btn-big">םיישיא םיטרפ ןוכדע</button>
                </form>
                <form action="#" class="tab-pane" id="user-panel-pane-3" role="tabpanel" aria-labelledby="user-panel-tab-3">
                    <div class="form-group input-group">
                        <input type="password" name="password1" id="password1" class="form-control input-line password" data-toggle="password">
                        <label for="password1">דיינ</label>
                        <div class="input-group-append show-password">
                            <span class="input-group-text eye-icon"></span>
                        </div>
                        <small id="password1Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
                    </div>
                    <div class="form-group input-group">
                        <input type="password" name="password2" id="password2" class="form-control input-line password" data-toggle="password">
                        <label for="password2">דיינ</label>
                        <div class="input-group-append show-password">
                            <span class="input-group-text eye-icon"></span>
                        </div>
                        <small id="password2Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
                    </div>
                    <div class="form-group input-group">
                        <input type="password" name="password3" id="password3" class="form-control input-line password" data-toggle="password">
                        <label for="password3">דיינ</label>
                        <div class="input-group-append show-password">
                            <span class="input-group-text eye-icon"></span>
                        </div>
                        <small id="password3Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
                    </div>
                    <button type="submit" class="btn btn-blue btn-big">םיישיא םיטרפ ןוכדע</button>
                </form>
            </div>
        </div>
    </div>
</div>