<footer class="footer bg-grey">
    <div class="page-content page-content-middle">
        <div class="row align-items-center">
            <div class="col-3">
                <ul class="payments">
                    <li class="payments__item"><a href="#" target="_blank"><img src="../img/payments/visa.svg" class="img-fluid" alt="main logotype"></a></li>
                    <li class="payments__item"><a href="#" target="_blank"><img src="../img/payments/mastercard.svg" class="img-fluid" alt="main logotype"></a></li>
                    <li class="payments__item"><a href="#" target="_blank"><img src="../img/payments/isracard.svg" class="img-fluid" alt="main logotype"></a></li>
                    <li class="payments__item"><a href="#" target="_blank"><img src="../img/payments/leumi-card.svg" class="img-fluid" alt="main logotype"></a></li>
                    <li class="payments__item"><a href="#" target="_blank"><img src="../img/payments/visa-cal.svg" class="img-fluid" alt="main logotype"></a></li>
                </ul>
            </div>
            <div class="col-4 text-left">
                <p class="fz-18">מ״עב םוקדראק תרבח ךרד תעצבתמ הקילסה</p>
            </div>
            <div class="col-5">
                <ul class="partners">
                    <li class="partners__item"><a href="#" target="_blank"><img src="../img/partners/pciLogo.svg" class="img-fluid" alt="logotype"></a></li>
                    <li class="partners__item"><a href="#" target="_blank"><img src="../img/partners/cardlogoHe.svg" class="img-fluid" alt="logotype"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>