<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    //= includes/head.html
</head>
<body>
<div class="page bg-white rtl">
    //= ../views/blocks/header/header.html

    <main class="main">
        <div class="container-fluid">
            <div class="page-content page-content-middle">
                <div class="page-title">
                    <h2 class="title color-dark">יארשא סיטרכב םולשת</h2>
                </div>
                //= ../views/blocks/icons-block/icons-block.html
                //= ../views/blocks/cart-block/cart-block.html
            </div>
        </div>
    </main>
    //= includes/footer.html
</div>
//= includes/scripts.html
</body>
</html>