<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    //= includes/head.html
</head>
<body>
<div class="page rtl">
    //= ../views/blocks/header/header.html
    <main class="main">
        <div class="container-fluid">
            <div class="page-content">
                //= ../views/blocks/join-block/join-block.html
            </div>
        </div>
    </main>
</div>
//= includes/scripts.html
</body>
</html>