<header class="header">
    <div class="header-wrap">
        <div class="container-fluid">
            <div class="header-content row">
                <div class="col-lg-5">
                    <a class="main-logo" href="#"><img src="../img/main-logo.svg" class="img-fluid" alt="main logotype"></a>
                </div>

                <div class="col-lg-7 header__nav">
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item"><a href="#" class="nav-item__link">ישיא רוזא</a></li>
                            <li class="nav-item"><a href="#" class="nav-item__link">קסעה ןובשח</a></li>
                            <li class="nav-item"><a href="#" class="nav-item__link">דבוע הז ךיא</a></li>
                            <li class="nav-item"><a href="#" class="nav-item__link">ןוריחמ</a></li>
                            <li class="nav-item"><a href="#" class="nav-item__link">רשק רוצ</a></li>
                        </ul>
                    </nav>
                    <a class="logo header__logo logo--small" href="#"><img src="../img/logo.svg" class="img-fluid" alt="logotype"></a>
                </div>
            </div>
        </div>
    </div>
</header>