<div class="user-panel bg-white">
    <div class="user-panel-nav">
        <div class="nav nav-tabs user-panel-tabs" id="business-panel-tab" role="tablist">
            <a class="nav-item nav-link user-panel-tab active" id="user-panel-tab-1" href="#business-panel-pane-1" data-toggle="tab" aria-controls="business-panel-pane-1" role="tab" aria-selected="true">םיישיא םיטרפ</a>
            <a class="nav-item nav-link user-panel-tab" id="user-panel-tab-2" href="#business-panel-pane-2" data-toggle="tab" aria-controls="business-panel-pane-2" role="tab">תורשקתה יטרפ</a>
            <a class="nav-item nav-link user-panel-tab" id="user-panel-tab-3" href="#business-panel-pane-3" data-toggle="tab" aria-controls="business-panel-pane-3" role="tab">המסיס ןוכדע</a>
            <a class="nav-item nav-link user-panel-tab" id="user-panel-tab-4" href="#business-panel-pane-4" data-toggle="tab" aria-controls="business-panel-pane-4" role="tab">המסיס ןוכדע</a>
        </div>
    </div>
    <div class="user-panel-form">
        <div class="user-panel-form">
            <div class="tab-content" id="business-panel-tabContent">
                <form action="#" class="tab-pane show active" id="business-panel-pane-1" role="tabpanel" aria-labelledby="business-panel-tab-1">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input type="text" class="form-control input-line" id="text1">
                                <label for="text1">אלמ םש</label>
                                <small id="text1Help" class="form-text text-muted">קסעה םש דיל תוחודב עיפוי ךמש</small>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-line" id="text2">
                                <label for="text2">דיקפת</label>
                                <small id="text3Help" class="form-text text-muted">קסעה םש דיל תוחודב עיפוי ךדיקפת</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="file-upload file-upload-big">
                                <div class="image-upload-wrap show">
                                    <input class="file-upload-input" type='file'  accept="image/*" />
                                    <div class="drag-text">
                                        <span class="drag-text__format">Jpg, <ins>Png</ins> ...</span>
                                        <p class="drag-text__info">Drag and drop a file <span>or</span></p>
                                        <button class="btn btn-blue btn-small" type="button">Browse</button>
                                        <span class="drag-text__size">Max 700 kb</span>
                                    </div>
                                </div>
                                <div class="file-upload-content hide">
                                    <img class="file-upload-image" src="../img/cards/card-1.jpg" alt="your image" />
                                    <div class="file-upload-btn">
                                        <button type="button" class="btn btn-icon btn-icon-remove btn-icon-remove-white"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-blue btn-big">םיישיא םיטרפ ןוכדע</button>
                    </div>
                </form>
                <form action="#" class="tab-pane" id="business-panel-pane-2" role="tabpanel" aria-labelledby="business-panel-tab-2">
                    <div class="form-group">
                        <input type="email" class="form-control input-line" id="email2">
                        <label for="email2">ליימ</label>
                        <small id="email2Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
                    </div>
                    <div class="form-group">
                        <input type="tel" id="phone3" name="phone" class="form-control input-line">
                        <label for="phone3">ןופלט</label>
                        <small id="phone3Help" class="form-text text-muted">דבלב הכימת ךרוצל ןופלט</small>
                    </div>
                    <button type="submit" class="btn btn-blue btn-big">םיישיא םיטרפ ןוכדע</button>
                </form>
                <div class="tab-pane" id="business-panel-pane-3" role="tabpanel" aria-labelledby="business-panel-tab-3">
                    <div class="tab-pane__row mt-50">
                        <div class="tab-pane__col text-right">
                            <p class="fz-24 fw-bold">2,000 :תודוקנ כ''הס</p>
                        </div>
                        <div class="tab-pane__col-btn text-left">
                            <button type="button" class="btn btn-blue btn-big">תודוקנ +</button>
                        </div>
                    </div>
                    <table class="table business-table rtl">
                        <thead class="table-head">
                            <tr>
                                <th>סוטטס</th>
                                <th>ךיראת</th>
                                <th>תודוקנ</th>
                                <th>תודוקנ</th>
                                <th>תודוקנ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr class="table-row">
                                <td><button class="btn-icon btn-icon-add-file"></button></td>
                                <td>7/04/2019    20:55</td>
                                <td>יול לאכימ</td>
                                <td>יול לאכימ</td>
                                <td>-10</td>
                                <td><button class="btn-icon btn-icon-download"></button></td>
                            </tr>
                            <tr class="table-row">
                                <td><button class="btn-icon btn-icon-add-file"></button></td>
                                <td>7/04/2019    20:55</td>
                                <td>יול לאכימ</td>
                                <td>טקיורפה םש</td>
                                <td>-10</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="see-more-btn see-more-btn-black" data-toggle="dropdown">
                                            <span class="see-more-btn__circle"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu--table rtl" role="menu">
                                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הפולח תרדגה</a></li>
                                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רצק חוד תדרוה</a></li>
                                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">טרופמ חוד תדרוה</a></li>
                                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">3D ץבוק תדרוה</a></li>
                                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הורדת כל התוצאות</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="business-panel-pane-4" role="tabpanel" aria-labelledby="business-panel-tab-4">
                    <form action="" class="form">
                        <div class="form-inline justify-space-between">
                            <div class="tab-pane__row">
                                <div class="tab-pane__col text-right">
                                    <input type="text" id="text3" class="input-line input-line--small">
                                    <label for="text3" hidden></label>
                                </div>
                                <div class="tab-pane__col text-center">
                                    <!--                                разметка если это селект-->

                                    <!--                                <label for="inputState" hidden></label>-->
                                    <!--                                <select id="inputState" class="input-line input-line&#45;&#45;small">-->
                                    <!--                                    <option selected>תואשרה רחב</option>-->
                                    <!--                                    <option>להנמ</option>-->
                                    <!--                                    <option>להנמ</option>-->
                                    <!--                                </select>-->

                                    <!--                                разметка если это дропдаун-->

                                    <div class="dropdown">
                                        <button class="btn dropdown-line dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">תואשרה רחב</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane__col-btn text-left">
                                    <button type="button" class="btn btn-blue btn-big">תודוקנ +</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table business-table rtl">
                        <thead class="table-head">
                        <tr>
                            <th>סוטטס</th>
                            <th>ךיראת</th>
                            <th>תודוקנ</th>
                            <th>תודוקנ</th>
                            <th>תודוקנ</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        <tr class="table-row">
                            <td><button class="btn-icon btn-icon-add-file"></button></td>
                            <td>7/04/2019    20:55</td>
                            <td>יול לאכימ</td>
                            <td>יול לאכימ</td>
                            <td>-10</td>
                            <td><button class="btn-icon btn-icon-download"></button></td>
                        </tr>
                        <tr class="table-row">
                            <td><button class="btn-icon btn-icon-add-file"></button></td>
                            <td>7/04/2019    20:55</td>
                            <td>יול לאכימ</td>
                            <td>טקיורפה םש</td>
                            <td>-10</td>
                            <td>
                                <div class="btn-group">
                                    <button class="see-more-btn see-more-btn-black" data-toggle="dropdown">
                                        <span class="see-more-btn__circle"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu--table rtl" role="menu">
                                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הפולח תרדגה</a></li>
                                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רצק חוד תדרוה</a></li>
                                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">טרופמ חוד תדרוה</a></li>
                                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">3D ץבוק תדרוה</a></li>
                                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הורדת כל התוצאות</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="business-panel__bottom">
                        <div class="business-panel__bottom-title">תואשרה</div>
                        <p class="business-panel__bottom-item"><i class="business-panel__bottom-icon btn-icon-user"></i><span class="fw-bold">להנמ</span>תופולחו םיטקיורפ ףיסוהל ,קסעה תא רידגהל לוכי</p>
                        <p class="business-panel__bottom-item"><i class="business-panel__bottom-icon btn-icon-user"></i><span class="fw-bold">להנמ</span>תופולחו םיטקיורפ ףיסוהל ,קסעה תא רידגהל לוכי</p>
                        <p class="business-panel__bottom-item"><i class="business-panel__bottom-icon btn-icon-user"></i><span class="fw-bold">להנמ</span>תופולחו םיטקיורפ ףיסוהל ,קסעה תא רידגהל לוכי</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>