<div class="auth-form login-form">
    <div class="title text-center">המסיס סופיא</div>
    <form action="#" class="form">
        <div class="form-group">
            <input type="email" class="form-control input-line" id="email3">
            <label for="email3">ליימ</label>
            <small id="email3Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
        </div>
        <div class="auth-form__btn">
            <button type="submit" class="btn btn-blue btn-big">החילש</button>
            <button type="submit" class="btn btn-empty btn-big">החילש</button>
        </div>
    </form>
</div>