<div class="auth-form pass-form">
    <div class="title text-center">המסיס סופיא</div>
    <form action="#" class="form">
        <div class="form-group">
            <input type="email" class="form-control input-line" id="email4">
            <label for="email4">ליימ</label>
            <small id="email3Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
        </div>
        <div class="form-group input-group">
            <input type="password" name="password3" id="password4" class="form-control input-line password" data-toggle="password">
            <label for="password4">דיינ</label>
            <div class="input-group-append show-password">
                <span class="input-group-text eye-icon"></span>
            </div>
            <small id="password4Help" class="form-text text-muted">דבלב הכימת ךרוצל ליימ</small>
        </div>
        <div class="auth-form__btn">
            <button type="submit" class="btn btn-blue btn-big">החילש</button>
            <button type="submit" class="btn btn-empty btn-big">החילש</button>
        </div>
    </form>
</div>
