<div class="icons-block bg-grey-full rtl">
    <div class="row align-items-center">
        <div class="col-4">
            <div class="icon-block text-right">
                <div class="icon-block__img">
                    <img src="../img/icons/lock-icon.svg" class="img-fluid" alt="main logotype">
                </div>
                <div class="icon-block__text">
                    <p>תוחוקל תוריש</p>
                    <p>077-6001525</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="icon-block text-center">
                <div class="icon-block__img">
                    <img src="../img/icons/clock-icon.svg" class="img-fluid" alt="main logotype">
                </div>
                <div class="icon-block__text">
                    <p>תוחוקל תוריש</p>
                    <p>077-6001525</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="icon-block text-left">
                <div class="icon-block__img">
                    <img src="../img/icons/call-icon.svg" class="img-fluid" alt="main logotype">
                </div>
                <div class="icon-block__text">
                    <p>תוחוקל תוריש</p>
                    <p>077-6001525</p>
                </div>
            </div>
        </div>
    </div>
</div>