<div class="banner border-grey">
    <div class="banner__row bg-white">
        <div class="banner__col">
            <a class="logo logo--big" href="#"><img src="../img/logo.svg" class="img-fluid" alt="logotype"></a>
        </div>
        <div class="banner__col banner__text">
            <b>יול לאכימ</b>
            <b>הביבסה ןעמל תומזוי</b>
            <b class="banner__price">תודוקנ 2,000</b>
        </div>
    </div>
    <div class="banner__row bg-grey">
        <div class="banner__col">
            <button class="btn btn-extra-small btn-empty">תודוקנ +</button>
        </div>
        <div class="banner__col">
            <button class="btn btn-extra-small btn-empty">קתנתה</button>
        </div>
    </div>
</div>