<table class="table table-cards rtl">
    <thead class="table-head">
    <tr>
        <th>םש</th>
        <th>גוס</th>
        <th>רוזא</th>
        <th>ךיראת</th>
        <th>
            <button class="btn-icon btn-icon-panel btn-icon-table"></button>
            <button class="btn-icon btn-icon-line btn-icon-table"></button>
        </th>
    </tr>
    </thead>
        <tbody class="table-body">
            <tr class="table-row">
                <td>םייח ץע ילדגמ</td>
                <td>םירוגמ</td>
                <td>א םילקא</td>
                <td>7/04/2019</td>
                <td>
                    <div class="btn-group">
                        <button class="see-more-btn see-more-btn-black mr-3" data-toggle="dropdown">
                            <span class="see-more-btn__circle"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu--table rtl" role="menu">
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הפולח תרדגה</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רושיק חלש</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רצק חוד תדרוה</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">טרופמ חוד תדרוה</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">3D ץבוק תדרוה</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הורדת כל התוצאות</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="table-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="see-more-btn see-more-btn-black mr-3" data-toggle="dropdown">
                            <span class="see-more-btn__circle"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu--table rtl" role="menu">
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הפולח תרדגה</a></li>
                            <li class="dropdown-menu__item sub-menu-link">
                                <a href="#" class="dropdown-menu__link">רושיק חלש</a>
                                <ul class="sub-menu picker rtl" role="menu">
                                    <li class="picker__item picker-color--1 active"></li>
                                    <li class="picker__item picker-color--2"></li>
                                    <li class="picker__item picker-color--3"></li>
                                    <li class="picker__item picker-color--4"></li>
                                    <li class="picker__item picker-color--5"></li>
                                    <li class="picker__item picker-color--6"></li>
                                    <li class="picker__item picker-color--7"></li>
                                    <li class="picker__item picker-color--8"></li>
                                    <li class="picker__item picker-color--9"></li>
                                </ul>
                            </li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רצק חוד תדרוה</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">טרופמ חוד תדרוה</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">3D ץבוק תדרוה</a></li>
                            <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הורדת כל התוצאות</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
    </tbody>
</table>