<table class="table table-excel table-collapsed rtl">
    <thead class="table-head">
    <tr>
        <th>תופולח</th>
        <th>תופולח</th>
        <th>תופולח</th>
        <th>תופולח</th>
        <th><button class="btn-icon btn-icon-excel btn-icon-table"></button></th>
    </tr>
    </thead>
    <tbody class="table-body">
        <tr class="table-row">
            <td>EPdes_Building_A_Option1</td>
            <td>ןהכ השמ</td>
            <td>20:557/04/2019</td>
            <td>הז חוד תריציל תושרדנ תודוקנ 30</td>
            <td>
                <button class="btn btn-small btn-orange">תודוקנ ףסוה</button>
                <button class="see-more-btn see-more-btn-black mr-3">
                    <span class="see-more-btn__circle"></span>
                </button>
            </td>
        </tr>
        <tr class="table-row">
            <td>EPdes_Building_A_Option1</td>
            <td>ןהכ השמ</td>
            <td>20:557/04/2019</td>
            <td>הז חוד תריציל תושרדנ תודוקנ 30</td>
            <td>
                <button class="btn btn-small btn-green">תודוקנ ףסוה</button>
                <button class="see-more-btn see-more-btn-black mr-3">
                    <span class="see-more-btn__circle"></span>
                </button>
            </td>
        </tr>
        <tr class="table-row table-row--disabled">
            <td>EPdes_Building_A_Option1</td>
            <td>ןהכ השמ</td>
            <td>20:557/04/2019</td>
            <td>הז חוד תריציל תושרדנ תודוקנ 30</td>
            <td>
                <button class="btn btn-small btn-green">תודוקנ ףסוה</button>
                <button class="see-more-btn see-more-btn-black mr-3">
                    <span class="see-more-btn__circle"></span>
                </button>
            </td>
        </tr>
        <tr class="table-row">
            <td>EPdes_Building_A_Option1</td>
            <td>ןהכ השמ</td>
            <td>20:557/04/2019</td>
            <td>הז חוד תריציל תושרדנ תודוקנ 30</td>
            <td>
                <button class="btn btn-small btn-blue">תודוקנ ףסוה</button>
                <button class="see-more-btn mr-3">
                    <span class="see-more-btn__circle"></span>
                </button>
            </td>
        </tr>
        <tr class="table-row">
            <td>EPdes_Building_A_Option1</td>
            <td>ןהכ השמ</td>
            <td>20:557/04/2019</td>
            <td>הז חוד תריציל תושרדנ תודוקנ 30</td>
            <td>
                <button class="btn btn-small btn-red">תודוקנ ףסוה</button>
                <button class="see-more-btn see-more-btn-black mr-3">
                    <span class="see-more-btn__circle"></span>
                </button>
            </td>
        </tr>
        <tr class="table-row">
            <td><button class="btn-dropdown collapsed" type="button" data-toggle="collapse" data-target="#collapse-row-1" aria-expanded="false" aria-controls="collapse-row-1"></button>EPdes_Building_A_Option1</td>
            <td>ןהכ השמ</td>
            <td>20:557/04/2019</td>
            <td>הז חוד תריציל תושרדנ תודוקנ 30</td>
            <td>
                <button class="btn btn-small btn-blue">תודוקנ ףסוה</button>
                <button class="see-more-btn see-more-btn-black mr-3">
                    <span class="see-more-btn__circle"></span>
                </button>
            </td>
        </tr>
        <tr class="table-collapse collapse" id="collapse-row-1">
            <td colspan="5">הללצה יטנמלא וא יעבט רורווא ןיא .תונולחה לכב 0.3 לש הללצה םדקמ םע תונירטיוב 6-21-6-ו הניש ירדחב 4-6-4 גוגיז תכרעמו מ''ס 5 םיעלס רמצ םע הפולח</td>
        </tr>
        <tr class="table-row">
            <td>
                <button class="btn-dropdown collapsed" type="button" data-toggle="collapse" data-target="#collapse-row-2" aria-expanded="false" aria-controls="collapse-row-2"></button>EPdes_Building_A_Option1</td>
            <td>ןהכ השמ</td>
            <td>20:557/04/2019</td>
            <td>הז חוד תריציל תושרדנ תודוקנ 30</td>
            <td>
                <div class="btn-group">
                    <button class="see-more-btn see-more-btn-black mr-3" data-toggle="dropdown">
                        <span class="see-more-btn__circle"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu--table rtl" role="menu">
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הפולח תרדגה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רושיק חלש</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רצק חוד תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">טרופמ חוד תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">3D ץבוק תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הורדת כל התוצאות</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="table-collapse collapse" id="collapse-row-2">
            <td colspan="5">הללצה יטנמלא וא יעבט רורווא ןיא .תונולחה לכב 0.3 לש הללצה םדקמ םע תונירטיוב 6-21-6-ו הניש ירדחב 4-6-4 גוגיז תכרעמו מ''ס 5 םיעלס רמצ םע הפולח</td>
        </tr>
    </tbody>
</table>