<div class="cards">
    <div class="card-col">
        <div class="card border-grey">
            <div class="card__info">
                <div class="card__date">07/04/2019</div>
                <div class="btn-group">
                    <button class="see-more-btn see-more-btn-white" data-toggle="dropdown">
                        <span class="see-more-btn__circle"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu--table rtl" role="menu">
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הפולח תרדגה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רושיק חלש</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רצק חוד תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">טרופמ חוד תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">3D ץבוק תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הורדת כל התוצאות</a></li>
                    </ul>
                </div>
            </div>
            <div class="card__bg">
                <img src="../img/cards/card-1.jpg" class="card__img" alt="card picture">
            </div>
            <div class="card__details bg-white">
                <div class="card__title">םייח ץע ילדגמ</div>
                <div class="card__text">
                    <span>'א םילקא</span>
                    <span>םירוגמ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-col">
        <div class="card border-grey">
            <div class="card__info">
                <div class="card__date">07/04/2019</div>
                <div class="btn-group">
                    <button class="see-more-btn see-more-btn-white" data-toggle="dropdown">
                        <span class="see-more-btn__circle"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu--table rtl" role="menu">
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הפולח תרדגה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רושיק חלש</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">רצק חוד תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">טרופמ חוד תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">3D ץבוק תדרוה</a></li>
                        <li class="dropdown-menu__item"><a href="#" class="dropdown-menu__link">הורדת כל התוצאות</a></li>
                    </ul>
                </div>
            </div>
            <div class="card__bg picker-color--1"></div>
            <div class="card__details bg-white">
                <div class="card__title">םייח ץע ילדגמ</div>
                <div class="card__text">
                    <span>'א םילקא</span>
                    <span>םירוגמ</span>
                </div>
            </div>
        </div>
    </div>
</div>