.input-big{
  width: 270px;
}
.input-line{
  height: 50px;
  line-height: 50px;
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
  border-bottom-color: #808080;
  transition: $transition2;
  padding-right: 0;
  padding-left: 20px;
  &--small{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-width: 1px;
  }
  &:focus{
    outline: none;
    border-color: transparent;
    background-color: transparent;
    border-bottom-color: $blue;
    transition: $transition2;
    box-shadow: none;
    & + label{
      color: $blue;
      opacity: 1;
      transition: $transition2;
      & + .input-group-append{
        border-bottom-color: $blue;
        transition: $transition2;
      }
    }
  }
}

.input-square{
  border: 1px solid #808080;
  height: 34px;
  line-height: 34px;
  max-width: 100%;
  background-color: transparent;
  border-radius: 0;
  transition: $transition2;
  &:focus {
    outline: none;
    border-color: $blue;
    transition: $transition2;
    box-shadow: none;
  }
}

.input-fill{
  width: 100%;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  border: 0.5px solid rgba(196, 196, 196, 0.5);
  background-color: $white;
  border-radius: 0;
  padding: 10px;
  transition: $transition2;
  outline: none;
  &:focus{
    outline: none;
    border-color: $blue;
    transition: $transition2;
    box-shadow: none;
  }
}
option, select{
  color: $text-color;
}

.input-group{
  padding-bottom: 31px;
  padding-left: 22px;
  .text-muted{
    position: absolute;
    padding-top: .25rem;
    bottom: 0;
    left: 0;
  }
  .input-group-append{
    position: absolute;
    left: 1px;
    height: 50px;
    border-bottom: 1px solid #808080;
    transition: $transition2;
    z-index: 2;
  }
  .input-group-text{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &.eye-icon{
      background: url("../img/icons/eye-icon.svg") transparent no-repeat center;
      background-size: 25px;
    }
  }
  .input-group-small{
    height: 34px;
  }
}

.form-group {
  position: relative;
  padding-top: 27px;
  label {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.form-group-checkbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  label{
    position: static;
  }
}